body {
	font-family: 'Trebuchet MS';
}

a {
    font-family: 'Trebuchet MS';
}

/* ---- HEAD ----- */

.menutop {
	background-color: #183c72;
	padding: 8px;
	margin-top: 8px;
}

.menutop #buttons a {
	color: #fff;
	font-size: 10pt;
}

.login_button {
    text-align: right;
}

.logos {
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
    display: inherit;
    text-align: center;
}


#da_logo {
    padding-top: 40px;
    max-width: 85%;
}

#alianca_logo {
    max-width: 65%;
    
}

#af_logo {
    padding-top: 60px;
    max-width: 85%;
}

/* ---- END HEAD ---- */




/* ---- MENU LINKS ---- */
.menu_links {
    background-color: #cc2229;
    border-bottom: 10px solid #183c72;
    border-top: 10px solid #183c72;
}

#buttons_links {
    height: 45px;
    text-align: center;
}

#buttons_links a {
    color: #fff;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 8px;
}

#buttons_links a:hover {
    text-decoration: none;
}
/* ---- EDN MENU LINKS ---- */





/* ---- Slideshow ---- */

.slideshow {
    background-color: #761c22;
}


/* ---- End Slideshow ---- */




/* ---- HOME ---- */

.home {
    padding-top: 50px;
    padding-bottom: 50px;
}

.links_home {
    text-align: center;
}

.links_home p {
    margin-top: 10px;
    font-size: 24px;
}

/* ---- END HOME ---- */


/* ---- EVENTOS ---- */
.eventos {
    padding-bottom: 40px;
    border: 0px solid #000;
}

.events {
    text-align: justify;
}

.events img {
    width: 100%;
    margin-bottom: 20px;
}

.thumbnails img {
    width: 45%;
    display: inline-table;
}

.thumbnails a {
    text-decoration: none;
}

/* ---- END EVENTOS ---- */

/* ---- MURAL ---- */

.mural_box {
    background-color: #fde044;
    width: 100%;
    display: block;
    /*height: 300px;*/
    padding: 8px 10px 10px 10px;
    margin-bottom: 40px;
}

.mural_box a {
    text-decoration: none;
    color: #333;
}

.mural_box .image {
    width: 100%;
    text-align: center;
    display: block;
}

.mural_box .title {
    text-align: center;
    margin-top: -15px;
}

.mural_box .summary {
    text-align: justify;
}

.mural_box .content {
    text-align: justify;
}

.mural_box .date {
    margin-top: 10px;
    text-align: right;
}

/* ---- END MURAL ---- */

/* ---- PROMOCOES ---- */

.promocoes {
    margin-bottom: 40px;
}

.promocoes img{
    width: 100%;
    margin-bottom: 20px;
}
/* ---- END PROMOCOES ---- */


/* ---- ESTRUTURA ---- */

.title-estrutura {
    background-color: #183c72;
}

.title-estrutura h3 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding: 0px 0 10px 0;
}

.box-estrutura-unidade1 {
    margin-top: 30px;
    background-color: #174a98;
    padding: 15px 0 15px;
}
.box-estrutura-unidade1 p {
    color: #fff;
}

.box-estrutura-unidade1 img {
    width: 100%;
}

.box-estrutura-unidade2 {
    margin-top: 30px;
    background-color: #cc2229;
    padding: 15px 0 15px;
    margin-bottom: 50px;
}

.box-estrutura-unidade2 p {
    color: #fff;
    text-align: right;
}

.box-estrutura-unidade2 img {
    width: 100%;
}

/* ---- END ESTRUTURA ---- */

/* ---- CURSO ---- */
.curso-idioma {
}

.curso-idioma img {
    margin-right: 20px;
    max-width: 86px;
}

.curso-idioma span {
    font-size: 28px;
    font-weight: bold;
}
.line-2 {
    margin: 45px 0 45px 0;
}

.part-2 {
    margin: 90px 0 125px 0 ;
}

.part-2 img {
    max-width: 480px;
}

.part-2 ul {
    margin-top: 55px;
}
.part-2 p {
    font-size: 17px;
}
/* ---- END CURSO ---- */

/* ---- APRENDIZAGEM ---- */

.aprendizagem {
    margin: 0 0 60px 0;
}

.aprendizagem img {
    max-width: 100%;
}
/* ---- END APRENDIZAGEM ---- */



/* ---- PARCERIAS ---- */
.parcerias {
    margin: 60px 0 90px 0;
    text-align: center;
}
/* ---- END PARCERIAS ---- */


/* ---- CONTACT ---- */

.contact-background {
    background-color: #1b6d85;
    padding: 20px 0 40px 0;
    color: #fff;
    margin-bottom: 60px;
}
.contact-box1 {
    background-color: #fff;
    padding: 20px;
    color: #868686;
    margin-top: 20px;
}

.contact-box1 img {
    width: 100%;
}
/* ---- END CONTACT ---- */



/* ---- LOGIN ---- */
.login {
    padding: 10px 0 100px 0;
    
}

.login label {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ---- END LOGIN ---- */


/* ---- FOOTER ---- */

.footer {
    padding: 20px 0px 10px 0px;
    background-color: #868686;
    color: #fff;
    text-align: center;
}

/* ---- END FOOTER ---- */




/* ---- ERROR ---- */
.error {
    padding: 50px;
    
}

/* ---- END ERROR ---- */


/* ---- ADMIN ---- */

.admin_user {
    display: block;
    width: 100%;
    background-color: #ddd;
    padding-bottom: 20px;
    padding-top: 15px;
    border-radius: 0.5em;
    margin-bottom: 20px;
}

.admin_user h4 {
    text-align: center;
}

.admin_name {
    font-size: 24px;
    text-align: center;
}

.admin-name-category {
    font-size: 12px;
    text-align: center;
    margin-top: -10px;
}

.admin-logoff {
    text-align: center;
    font-size: 18px;
}

.icon {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.admin-textarea-sum {
    min-height: 70px;
}

.admin-textarea-cont {
    min-height: 130px;
}

.article_buttons {
    margin-top: 10px;
}

/* ---- END ADMIN ---- */

/* ---- GRUPO ---- */

.tabelaGrupo th {
    text-align: center;
}

.tabelaGrupo .codigoaluno {
    max-width: 25px;    
}

.tabelaGrupo .nome {
    max-width: 40px;
}

.tabelaGrupo .sobrenome {
    max-width: 60px;
}

.tabelaGrupo .deletar {
    max-width: 20px;
    text-align: center;
}

.tabelaGrupo .email {
    max-width: 70px;
}


/* ---- END GRUPO ---- */

/* ---- INSERT ALUNO ---- */
#button-inserirAluno {
    margin-top: 20px;
    width: 100%;
}
/* ---- END INSERT ALUNO ---- */

/* ---- ALUNO ---- */
.box_aluno {
    min-height: 730px;
}

/* ---- END ALUNO ---- */

/* ---- PROFESSOR AREA ---- */

.mural-Recados {
    margin-top: 45px;
}

/* ---- END PROFESSOR AREA ---- */


#eleve-table {
    width: 60%;
}