body {
	font-family: 'Trebuchet MS';
}

a {
    font-family: 'Trebuchet MS';
}

/* ---- HEADER ----- */

.menutop {
	background-color: #183c72;
	padding: 8px;
	margin-top: 8px;
}

.menutop #bottons a {
	color: #fff;
	font-size: 10pt;
}

.logos {
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
    display: inherit;
}

#da_logo {
    margin-top: 60px;
    width: 100%;
    width-max:150px; 
}

#alianca_logo {
    width: 100%;
    
}

#af_logo {
    margin-top: 85px;
    width: 100%;
}

/* ---- END HEADER ---- */




/* ---- MENU LINKS ---- */
.menu_links {
    background-color: #cc2229;
    border-bottom: 10px solid #183c72;
    border-top: 10px solid #183c72;
}

#buttons_links {
    height: 45px;
    text-align: center;
}

#buttons_links a {
    color: #fff;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 8px;
}

#buttons_links a:hover {
    text-decoration: none;
}
/* ---- EDN MENU LINKS ---- */





/* ---- Slideshow ---- */

.slideshow {
    background-color: #761c22;
}


/* ---- End Slideshow ---- */




/* ---- HOME ---- */

.home {
    padding-top: 50px;
    padding-bottom: 50px;
}

.links_home {
    text-align: center;
}

.links_home p {
    margin-top: 10px;
    font-size: 24px;
}

/* ---- END HOME ---- */


/* ---- EVENTOS ---- */
.eventos {
    padding-bottom: 40px;
    border: 0px solid #000;
}

.events {
    text-align: justify;
}

.events img {
    width: 100%;
    margin-bottom: 20px;
}

.thumbnails img {
    width: 45%;
    display: inline-table;
}

.thumbnails a {
    text-decoration: none;
}

/* ---- END EVENTOS ---- */




/* ---- FOOTER ---- */

.footer {
    padding: 20px 0px 10px 0px;
    background-color: #868686;
    color: #fff;
    text-align: center;
}

/* ---- END FOOTER ---- */




/* ---- ERROR ---- */
.error {
    padding: 50px;
    
}

/* ---- END ERROR ---- */