body {
	font-family: 'Trebuchet MS';
}

a {
    font-family: 'Trebuchet MS';
}

/* ---- HEADER ----- */

.menutop {
	background-color: #183c72;
	padding: 8px;
	margin-top: 8px;
}

.menutop #bottons a {
	color: #fff;
	font-size: 10pt;
}

.logos {
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
    display: inherit;
}

#da_logo {
    margin-top: 60px;
    height: 140px;
}

#alianca_logo {
    height: 250px;
}

#af_logo {
    margin-top: 85px;
    height: 110px;
}


/* ---- MENU LINKS ---- */
.menu_links {
    background-color: #cc2229;
    border-bottom: 10px solid #183c72;
    border-top: 10px solid #183c72;
}

#buttons_links {
    height: 50px;
    text-align: center;
}

#buttons_links a {
    color: #fff;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 10px;
}

#buttons_links a:hover {
    text-decoration: none;
}
/* ---- EDN MENU LINKS ---- */


/* ---- Slideshow ---- */

.slideshow {
    background-color: #761c22;
}


/* ---- End Slideshow ---- */